.row label {
	width:100px;
	text-align:right;
	vertical-align:top;
	display:inline-block;
	font-size:13px;
	margin-right:10px;
}

.questions .row textarea {
	width:600px;
	height:100px;
}

.row {
	margin-bottom:40px;
}

.row .wp-editor-wrap {
	display:inline-block;
	width:calc(100% - 150px);
	margin-top:-40px;
}

.upd8-feedback-form-fills table {
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-spacing:0;	
}

.upd8-feedback-form-fills table td, .upd8-feedback-form-fills table th {
	border-left:1px solid #ccc;
	border-top:1px solid #ccc;
	padding:5px 10px;
}

.upd8-feedback-form-fills table th {
	background:#f0f0f0;
}

.upd8-feedback-form-fills table td .stars {
	color:yellow;
	text-shadow:
	 -1px -1px 0 #999992,  
	  1px -1px 0 #999992,
	  -1px 1px 0 #999992,
	   1px 1px 0 #999992;
}

.upd8-feedback-form-editor .msg-warning {
	color:red;
}

.upd8-feedback-form-editor .shortcode {
	font-size:20px;
	width:300px;
	margin-top:-7px;
}

.upd8-feedback-form-fills table tr.duplicate {
	opacity:0.5;
}